body {
  background-color: rgba(19, 20, 20, 0.904);
}

/* landing page */
#herosection {
  background-image: url(/assets/fondo.png); /**Para colocar de fondo una imagen guardada en una carpeta especifica*/
  background-size: cover;
  height: 1100px; /**Modifica el tamaño del background "cover" es para que ocupe el tamaño completo y height para modificar lo alto del background*/
  color: rgb(235, 236, 236);
}
.titlehero {
  font-size: 70px; /**Modifica el tamaño de la letra*/
  font-weight: bold; /**Modifica el grosor de la letra*/
  text-align: center; /**Centra el texto*/
  max-width: 600px; /**Define y modifica la posición sobre su espacio*/
  margin: auto;
}

.titlehero2 {
  font-size: 30px; /**Modifica el tamaño de la letra*/
  font-weight: bold; /**Modifica el grosor de la letra*/
  text-align: center; /**Centra el texto*/
  max-width: 750px; /**Define y modifica la posición sobre su espacio*/
  margin: auto;
  color: aliceblue;
  padding-top: 0.5rem;
}

.parrafohero {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  max-width: 850px;
}
.parrafohero2 {
  font-size: 20px;
  text-align: center;
  margin: auto;
  max-width: 750px;
}

@media (max-width: 768px) {
  #herosection {
    height: 500px;
    background-position: center;
  }

  .titlehero {
    font-size: 45px;
    padding: 0 20px;
  }

  .parrafohero {
    font-size: 20px;
    padding: 0 20px;
  }

  .parrafohero2 {
    font-size: 12px;
    padding: 0 20px;
  }
}

/**SECCION DE MAS INFO**/
/*Emoji de palomitas, al inicio, centrado y de tamaño grande */
#palomitas {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**Propiedades del boton "más info", centrado*/
#boton-mas-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**Se uso un card-group con cards individuales para esta seccion, para ir acorde al diseño de netflix se eliminaron los bordes*/
.card-group .card {
  border: none;
}

/* Estilos globales para reducir texto y espaciados */
.compact-card {
  font-size: 0.75rem; /* Reduce el tamaño de letra general */
}
.small-text {
  font-size: 0.7rem;
  color: #6c757d;
}

/* Cambios para pantallas móviles (Pantallas pequeñas) */
@media (max-width: 767.98px) {
  .custom-carousel {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;
    padding-left: 15px;
  }
  
  .custom-carousel::-webkit-scrollbar {
    display: none;
  }

  .card-wrapper {
    flex: 0 0 45%; /* ANTES 75% -> AHORA 45%: Reduce a la mitad el ancho en móvil */
    scroll-snap-align: start;
    margin-right: -25px; /* Ajuste del encimado para el nuevo tamaño */
  }
}

/* Cambios para pantallas de escritorio */
@media (min-width: 768px) {
  .custom-carousel {
    flex-wrap: wrap !important;
    justify-content: space-around; /* Centra las tarjetas si sobra espacio */

  }
  .card-wrapper {
    margin-right: 0 !important;
    max-width: 180px; /* Limita el ancho máximo para que no se estiren de más en monitores gigantes */
  }
}